{% extends "base.html" %}

{% block title %}Car List{% endblock title %}

{% block content %}
<br>
<div class = "row">

	{% for car in cars %}
	<div class="col-4">
			<div class="card" style="width: 18rem;">
				{% if car.img %}
					<img class="card-img-top" src="{{ car.img.url }}" alt="Card image cap">
	  		{% endif %}
	  		<div class="card-body">
	  		</div>
			</div>
		<a href="{{car.get_absolute_url}}">
			<h1>
				{{car.make}} - {{car.model}}
				<small>
					{{car.year}}
				</small>
			</h1>
		</a>
	</div>
		<hr>
	{% endfor %}
</div>
{% endblock content %}
